{% if show_plagiarism_page %}
    <!-- Plagiarism Page Content -->
    <div id="plagiarismPage">
        <!-- Plagiarism content, like input form, results, etc. -->
        <div class="container">
            <div class="input-section">
                <form action="/plagiarism" method="POST" enctype="multipart/form-data">
                    <textarea name="input_text" placeholder="Enter your text or paste a URL link here...">{{ extracted_text }}</textarea>
                    <input type="file" name="file_upload" accept=".pdf,.docx">
                    <div class="buttons">
                        <button type="submit" name="action" value="detect-ai">DETECT AI</button>
                        {% if show_reset %}
                            <button type="submit" name="action" value="reset">RESET</button>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="analysis-result-section">
                <!-- Display AI detection results -->
                {% if ai_generated is not none %}
                    <p>{{ probability * 100 | round(2) }}% AI detection.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <!-- Initial Welcome Section with Buttons -->
    <div id="introSection" class="intro-section">
        <h1>Welcome to ACE: Plagiarism & AI Detector</h1>
        <p>Explore our advanced detection tool to identify AI-generated and plagiarized content. Click "DETECT" to begin checking your content or "PLAY" to test your skills in distinguishing AI text and images from Human text and images!</p>
        <div class="intro-buttons">
            <form method="POST">
                <button type="submit" name="action" value="detect" class="intro-button check-ai">DETECT</button>
            </form>
            <button id="playGameButton" class="intro-button play-game">PLAY</button>
        </div>
    </div>
{% endif %}

<!-- Flash Messages -->
<div class="flash-message-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
